*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}
body {
    background-image: linear-gradient(120deg, violet 0%, rgb(185, 148, 185) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.todoContainer{
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: #00000029 0px 0px 10px;
    text-align: center;
}

h1{
    margin-bottom: 20px;
    color: #333;
}
form{
    display: flex;
    align-items: baseline;
    background: orangered;
    justify-content: center;
    gap: 10px;
    padding: 100px 100px 0px 100px;
    border-radius: 10px;
    box-shadow: #cccccc31 0px 0px 10px;
}
.taskInput{
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}
.addTaskBtn{
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.taskList{
    padding: 0px 30px;
    width: 300px;
    background-color: #f8f9fa;
    border-radius: 10px;
    text-align: left;
    
}
.taskList button{
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}