*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nothing You Could Do", cursive;
    font-weight: 400;
    font-style: normal;
}
body {
    background-image: url(../Images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;   
}
h1{
    margin-bottom: 20px;
    color: #333;
    position: fixed;
    top: 8%;
    left: 62%;
}
form{
    max-width: 500px;
    padding: 50px;
    border-radius: 10px;
}
.taskInput{
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}
.addTaskBtn{
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.taskList{
    position: fixed;
    list-style-type: none;
    max-width: 450px;
    background: transparent;
    text-align: left;
    top: 15%;
    left: 55%;
    height: 80vh;
    overflow-y: auto;
}
.taskList button{
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}
